
.navbar-brand{
    margin-left:1rem;
}
.nav-item{
    margin-left: 3rem;
}
.nav-link:hover{
    color:aqua;
}


/* home section */


main{
    background:url(assets/img/milad-fakurian-UiiHVEyxtyA-unsplash.jpg)no-repeat center center/cover;
}
.d-flex{
    margin: auto;
    padding:100px 0px;
}
.home{
    margin: 90px 10px;
    padding: 40px 10px;
    font-size: 2rem;
}
.txt{
    margin: 0px 20px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#photo{
    height: 12rem;
    position: absolute;
    right:70px;
     
}
@media screen and (max-width:800px){
    #photo {display: none;}
    .home{font-size: 1.5rem;}
}
.Profile{
    /* display: none; */
    animation: drop 2s ease forwards;
    /* animation-delay: 1s; */
   
}
.a{
    animation-delay: 0.2s;
}
.b{
    animation-delay: 0.1s;
}

@keyframes drop {
    from {transform: translateY(-500px);}
    to {transform: translateY(0);}
    
    
}

/* About section */

#about{ 
    /* color:white; */
    padding: 139px 1px;
    background:url(assets/img/pawel-czerwinski-EPdt8UIIqK8-unsplash.jpg)no-repeat center center/cover ;
    /* box-shadow: 3px 58px 60px 10px rgba(116,237,142,0.47);
     */

    
}
.para{
    font-size:1.2rem;
    font-weight:bold;
}
.btn{
    /* font-weight: bold; */
    color:white;
}

.project{
    font-size:1.2rem;
    transition: transform .5s ease-in-out; 
    font-weight: bold;
    
}
.project:hover{
    transform :scale(1.5);
    cursor: pointer;
    
}
.experience-area{
    font-size:1.2rem;
    font-weight: bold;
}
/* skills section */


.heading{
    
    padding:20px 15px;
    padding-top:90px;
}
.container{
    text-align:center;
}
.items {
    padding: 37px 15px;
    border-radius: 20px;
    margin: 59px 11px;
    transition: background-color 2s ease-in-out, color 2s ease , transform 1s ease-in-out;
    box-shadow: 2px 2px 40px 1px rgb(102 218 212);
}
.items:hover{
    background-color:rgb(7, 115, 247);
    color:white;
    transform:scale(1.1)
}
.sillks-details {
    padding: 37px 69px;
}

.skill-header{
    padding:20px 0px;
}


/* contact me section */

.contact{
    color:white;
    text-align:left;

}
.contact-item {
    padding: 37px 25px;
    border-radius: 20px;
    margin-top: 34px;

}

/* footer section */
footer {
    background-color:black;
    color: white;
    text-align: center;
}
/* utility class */
img
{
    height: 1.8rem;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}